._progress {
  margin: 64px auto;
  width: 234px;
  // background: #fff;
  // border: 2px solid #bee1ff;
  // height: auto;
  // background: pink;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    height: 2px;
    width: calc(100% - 16px);
    background: #bee1ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    z-index: 1;
  }

  ._progress-working {
    height: 2px;
    // width: calc(100% - 16px);
    background: #0275D8;
    top: 50%;
    left: 8px;
    transform: translate(0, -50%);

    position: absolute;
    z-index: 1;    
  }

  ._progress-ball {
    width: 16px;
    height: 16px;
    background: white;
    border: 2px solid #bee1ff;
    position: relative;
    border-radius: 100%;
    z-index: 3;

    &.working {
      border: 2px solid #0275D8;
      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background: #0275D8;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }

    &.done {
      border: 2px solid #0275D8;
      background: #0275D8;

      i {
        position: absolute;
        font-size: 12px;
        top: 50%;
        left: 50%;
        transform-origin: center center;
        transform: translate(-50%, -43%) scale(.8);
        color: white;
      }
    }
  }

}